# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
venv/
env/
apiTSP/lib/
apiTSP/bin/
apiTSP/include/
apiTSP/pyvenv.cfg

# Archivos estáticos compilados (si usas algo tipo sass)
static/*.css.map
